/* TODO - fix mine picture */

:root {
    --size: 30px;
    --font-size: 20px;
}

* {
    margin-top: 20px;
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("../src/background.png");
    background-repeat:no-repeat;
    background-size:cover;
}

h {
    font-size: var(--font-size);
    color: rgba(71,70,111,255);
}

span {
    color: rgba(71,70,111,255);
}

table,
tr,
td {
    border: 1px solid rgb(60,69,79);
    border-collapse: collapse;
    font-size: var(--font-size);
    font-weight: bold;
}

.mine-img {
    max-width: var(--size);
}

td {
    width: var(--size);
    height: var(--size);
    background-color: rgb(205,213,243);
    cursor: pointer;
}

.shown {
    max-width: var(--size);
    max-height: var(--size);
    background-color: rgb(174, 186, 218);
    /* background-color: rgb(204,215,243); */
    cursor: default;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden */
}

/* .shown img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */


button {
    cursor: pointer;
    font-size: var(--font-size);
    background-color: rgb(205,213,243);
    border-color: rgb(124,122,164);
    color: rgba(71,70,111,255);
    /* border-style:outset; */
}

.timer-container {

    font-family:'Courier New', Courier, monospace;
    font-size: var(--font-size);
    /* font-weight: bold; */
    /* color: #eee; */
    width: calc(var(--size)*3);
    height: calc(var(--size));
    margin-left: 2%;
}

.heart-container{
    font-family:'Courier New', Courier, monospace;
    font-size: var(--font-size);
    /* font-weight: bold; */
    /* color: #eee; */
    width: calc(var(--size)*3);
    height: calc(var(--size));
    margin-right: 2%;
}

.num8 {
    color: black;
}
.num7 {
    color:brown;
}
.num6 {
    color:darkcyan;
}
.num5 {
    color: darkred;
}
.num4 {
    color:darkblue;
}
.num3 {
    color: red;
}
.num2 {
    color: green;
}
.num1 {
    color:rgb(26, 122, 218);
}

footer {
    font-size: 13px;
    position: fixed;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.menu-button {
    /* margin-right: 100%; */
    /* font-size: 15px; */
    background-image: url("../src/button-mine.jpg");
    background-size:cover;
    /* border: none; */
    background-color: rgb(205,213,243);
    border-color: rgb(124,122,164);
    height: 35px;
    width: 35px;
}

.menu {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    left: 20px;
    top: 20px;
    display:flex;
    align-items:center;
    /* height: 150px;
    width: 100px; */
    border-radius: 5% / 12%;

    background-color: rgb(143,170,220);
    /* background-color: rgba(92,94,139,255); */
    /* background-color: rgb(174, 186, 218); */
    /* background-color: rgb(143, 170, 220); */
    /* background-color: rgb(167, 168, 214); */
    padding: 20px;
    visibility: hidden;
}

.menu * {
    margin: auto 0;
}

.menu h {
    font-size: 17px;
    color: #eee;
}

.menu div {
    clear:both;
    display: grid;
    position: flex;
}

.mega-hint {
    left: 1000px;
    top: 500px;
}

.menu .btn-close {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 12px;

    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 20%;
    color: #eee;
}

.img-hint,
.mega-hint,
.safe-click,
.exter-click {
    height: 45px;
    cursor: pointer;
}

.mega-hint-chosen,
.safe-to-click {
    background-color: rgb(143,170,220);
}