/* TODO - fix mine picture */

:root {
    --size: 30px;
    --font-size: 20px;
}

* {
    margin-top: 20px;
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("../src/background.png");
    background-repeat:no-repeat;
    background-size:cover;
}

h {
    font-size: var(--font-size);
}

table,
tr,
td {
    border: 1px solid rgb(60,69,79);
    border-collapse: collapse;
    font-size: var(--font-size);
    font-weight: bold;
}

img {
    max-width: var(--size);
}

td {
    width: var(--size);
    height: var(--size);
    background-color: rgb(205,213,243);
    cursor: pointer;
}

.shown {
    max-width: var(--size);
    max-height: var(--size);
    background-color: rgb(174, 186, 218);
    /* background-color: rgb(204,215,243); */
    cursor: default;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden */
}

/* .shown img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */


button {
    cursor: pointer;
    font-size: var(--font-size);
}

#timer, 
.timer-container {
    background-color: rgba(204,215,243);
    font-family:'Courier New', Courier, monospace;
    font-size: var(--font-size);
    width: calc(var(--size)*3);
    height: calc(var(--size));
}

#timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
}

.num1 {
    color:rgb(26, 122, 218);
}
.num2 {
    color: green;
}
.num3 {
    color: red;
}
.num4 {
    color:darkblue;
}
.num5 {
    color: darkred;
}
.num6 {
    color:darkcyan;
}
.num7 {
    color:brown;
}
.num8 {
    color: black;
}